.react-calendar-heatmap .color-empty {
  fill: #1a1b1e;
}

.react-calendar-heatmap .color-filled {
  fill: #be4bdb;
}

.react-calendar-heatmap .color-scale-1 { fill: #f0cce7; }
.react-calendar-heatmap .color-scale-2 { fill: #df9be1; }
.react-calendar-heatmap .color-scale-3 { fill: #be4bdb; }
.react-calendar-heatmap .color-scale-4 { fill: #9d2db3; }

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #c1c2c5;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}
